*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: auto;
  width: auto;
  background-color: #d8e2dc;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
nav{
  background-color:#a8dadc;
  height: auto;
  width: auto;

}
nav a{
  background-color: #a8dadc;
  display: block;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
  float: right;
}
h1{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}
.clip1{
  width: 33%;
  float: left;
}
.clip2{
  width: 33%;
  float: left;
  padding-left: 2%;

}
.clip3{
  width: 33%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
}
.clip4{
  width: 33%;
  float: left;
  padding-left: 2%;
  padding-right: 3%;
}
